*{
    margin: 0;
    padding: 0;
}
nav{
    max-width: 90vw;
    display: flex;
    justify-content: space-between;
    padding: 10px 80px;
    background-color:#210c81;
    color: white;
    align-items: center;
    border-bottom: 2px solid #f58484;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style-type: none;
}
nav ul li a{
    padding:12px 15px;
    text-decoration: none;
    color: white;
    margin: 0 10px;
    font-size: 18px;
    font-weight: bold;
    transition:0.5s;
}
nav ul li a:hover{
    background-color: #11044c;
    border-radius: 10px;
}
/* Hero Area Code Starts */
header{
    background-image: url('images/website\ banner.jpg');
    padding: 200px 0px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.search_parent{
    display: flex;
    justify-content: center;
}
.search_parent i{
    width: 40px;
    height: 40px;
    background-color: green;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.search_parent input{
    width: 500px;
    height: 40px;
    font-size: 20px;
    padding: 5px 20px;
}
